#portfolio {
  height: 100vh;
  overflow: scroll;
  padding: 10vh 0px;
  background-color: #b2dfdb;
}
#portfolio .imgsec {
  height: 40vh;
  margin-bottom: 5vh;
  overflow: hidden;
  border: 3px solid #b3e5fc;
  border-top: 30px solid #b3e5fc;
  position: relative;
  border-radius: 12px;
  margin: 10px;
  margin-bottom: 20px;
}
#portfolio .imgsec:hover img {
  animation: portfolioani 7s linear;
}
#portfolio .imgsec:hover {
  transform: scale(1.03);
  transition: 1s ease;

  outline: 10px solid #e6ee9c;
}
@keyframes portfolioani {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#portfolio h5 {
  color: rgb(80, 255, 249);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  text-align: center;
}
